@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
main,
button,
input,
select,
textarea {
    display: flex;
    flex-wrap: wrap;
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.coantainer {
    display: flex;
    flex-wrap: wrap;
}

.plant {
    flex-basis: 22%;
    display: flex;
    background-color: darkseagreen;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid salmon;
    padding: 2em 0;
    margin: .5em;
}

.blue {
    background-color: aliceblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

